
{% extends 'views/layouts/contentLayoutMaster.html.twig' %}

{% block title %} Chat Application {% endblock %}

{% block page_style %}
    <!-- Page css files -->
    <link rel="stylesheet" href="{{ asset('css/base/pages/app-chat.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base/pages/app-chat-list.css') }}">
{% endblock %}


{% block content_sidebar %}
    {% include 'views/content/apps/chat/app-chat-sidebar.html.twig' %}
{% endblock %}


{% block content %}
    <h1>posts admin index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Auteur</th>
            <th>contenue</th>
            <th>CreatedAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        <a href="{{ path('newpost') }}">ajouter</a>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.user.id }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>

                    <a href="{{ path('editpost', {'id': post.id}) }}">modifier</a>
                    <a href="{{ path('deletepost_admin', {'id': post.id}) }}">Supprimer</a>
                    {%  if post.isValid %}
                        <a class="btn btn-success" href="{{ path('changevalidite_post', {'id': post.id}) }}"> <i class="fa fa-check"></i></a>
                    {% else %}
                        <a class="btn btn-warning" href="{{ path('changevalidite_post', {'id': post.id}) }}"> <i class="fa fa-times"></i></a>
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Posts not exists</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


{% block page_script %}
    <!-- Page js files -->
    <script src="{{ asset('js/scripts/pages/app-chat.js') }}"></script>
{% endblock %}
