{% extends 'views/layouts/contentLayoutMaster.html.twig' %}

{% block title %}
  {{ 'Permission' }}
{% endblock %}

{% block vendor_style %}
  <link rel="stylesheet" href="{{ asset('vendors/css/tables/datatable/responsive.bootstrap5.min.css') }}">
  <link rel="stylesheet" href="{{ asset('vendors/css/tables/datatable/buttons.bootstrap5.min.css') }}">
{% endblock %}
{% block page_style %}
  <link rel="stylesheet" href="{{ asset('css/base/plugins/forms/form-validation.css') }}">
{% endblock %}

{% block content %}
  <h3>Permissions List</h3>
  <p>Each permission (individual unit of access control) is listed below.</p>

  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Hoverable rows</h4>
    </div>
    <div class="card-body">
      <p class="card-text">
        Add <code class="highlighter-rouge">.table-hover</code> to enable a hover state on table rows within a
        <code class="highlighter-rouge">&lt;tbody&gt;</code>.
      </p>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Subject</th>
          <th>Attribute</th>
          <th>Enabled</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for permission in permissions %}
          <tr>
            <td><span class="fw-bold">{{ permission.title }}</span></td>
            <td>{{ permission.description }}</td>
            <td>{{ permission.subject }}</td>
            <td>{{ permission.attribute }}</td>
            <td>
              {% if permission.enabled %}
                <span class="badge rounded-pill badge-light-success me-1">Active</span>
              {% else %}
                <span class="badge rounded-pill badge-light-warning me-1">Inactive</span>
              {% endif %}
            </td>
            <td>
              <a class="dropdown-item" href="#">
                <i data-feather="edit-2" class="me-50"></i>
                <span>Edit</span>
              </a>
              <a class="dropdown-item" href="#">
                <i data-feather="trash" class="me-50"></i>
                <span>Delete</span>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}

{% block vendor_script %}
  <script src="{{ asset('vendors/js/tables/datatable/responsive.bootstrap5.js') }}"></script>
  <script src="{{ asset('vendors/js/forms/validation/jquery.validate.min.js') }}"></script>
{% endblock %}

