<div class="content-header row">
  <div class="content-header-left col-md-9 col-12 mb-2">
    <div class="row breadcrumbs-top">
      <div class="col-12">
        <h2 class="content-header-title float-start mb-0">{% block title %}{% endblock %}</h2>
        <div class="breadcrumb-wrapper">
          {% if breadcrumbs is defined %}
          <ol class="breadcrumb">
              {#  this will load breadcrumbs dynamically from controller #}
            {% for breadcrumb in breadcrumbs%}
              <li class="breadcrumb-item">
                {% if breadcrumb['link'] is defined %}
                  <a href="{{ breadcrumb['link'] == 'javascript:void(0)' ? breadcrumb['link']:path(breadcrumb['link']) }}">
                    {% endif %}
                      {{breadcrumb['name']}}
                    {% if breadcrumb['link'] is defined %}
                  </a>
                  {% endif %}
              </li>
            {% endfor %}
          </ol>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
    <div class="mb-1 breadcrumb-right">
      <div class="dropdown">
        <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i data-feather="grid"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end">
          {# {{path('app/todo')}} #}
          <a class="dropdown-item" href="{{path('app-todo')}}">
            <i class="me-1" data-feather="check-square"></i>
            <span class="align-middle">Todo</span>
          </a>
          {# {{path('app/chat')}} #}
          <a class="dropdown-item" href="{{path('app-chat')}}">
            <i class="me-1" data-feather="message-square"></i>
            <span class="align-middle">Chat</span>
          </a>
          {# {{path('app/email')}} #}
          <a class="dropdown-item" href="{{path('app-email')}}">
            <i class="me-1" data-feather="mail"></i>
            <span class="align-middle">Email</span>
          </a>
          {# {{path('app/calendar')}} #}
          <a class="dropdown-item" href="{{path('all_events_data')}}">
            <i class="me-1" data-feather="calendar"></i>
            <span class="align-middle">Calendar</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
