{% for post in posts %}
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-start align-items-center mb-1">
                <!-- avatar -->
                {% include "views/content/_partials/_fragments/user-avatar.html.twig" with {'user': user} %}
                <!--/ avatar -->
                <div class="ms-1 profile-user-info">
                    <h6 class="mb-0">{{ user.firstName ~ ' ' ~ user.lastName }}</h6>
                    <small class="text-muted">{{ post.createdAt|date("F j Y, g:i a") }}</small>
                </div>
            </div>
            <p class="card-text">
                {{ post.content|u.truncate(128, '...') }}
            </p>
            <a href="{{ url("singlepost", {"id": post.id}) }}" class="mt-2">
                <span class="text-primary">See more...</span>
            </a>
            <!-- post img -->
            {% if post.images|length > 0 %}
                {% set img = post.images|first %}
                <img
                        class="img-fluid rounded mb-75"
                        src="{{ asset('uploads/brochures/' ~ img.name) }}"
                        alt="avatar img"
                />
            {% endif %}
            <!--/ post img -->
            <div class="row card-text">
                {% for comment in post.commentaires %}
                        <div class="avatar mt-25 me-75">
                            {% include "views/content/_partials/_fragments/user-avatar.html.twig" with {'user': comment.user} %}
                        </div>
                        <div class="profile-user-info w-100">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="mb-0">{{ comment.user.firstName ~ " " ~ comment.user.lastName }}</h6>

                                <ul class="list-inline mb-0">
                                    <li>
                                        <a href="{{ path('editcomment', {'id': comment.id}) }}"><i class="text-body font-medium-3"
                                                                                                   data-feather="edit"></i></a>
                                    </li>
                                    <li>
                                        <a href="{{ path('delete_commnt_user', {'id': comment.id}) }}"><i
                                                    class="text-body font-medium-3" data-feather="x"></i></a>
                                    </li>

                                </ul>
                            </div>


                            <small>{{ comment.content }}</small>
                        </div>
                {% endfor %}

            </div>

        </div>
    </div>
{% endfor %}